/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.liststyle {
  list-style-type: none;
}

.relative {
  position: relative;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.left {
  float: left;
}

/* header */

  /* nav bar */
  nav {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 40px;
    width: 100%;
    background-color: white;
  }

    nav .container {
      width: 70%;
      line-height: 40px;
    }

    nav .container ul li a {
      color: black;
      text-decoration: none;
    }

  /* title */
  #title {
    margin-top: 40px;
    height: 470px;
    background-image: url("../img/HelbizOrig.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

/* main */

  /* section products */
  #product {
    height: 100px; /* DEBUG:  */
    width: 100%;
    padding: 0 2%;
  }

      #product .container div {
        width: 48%;
        background-color: rgba(189, 189, 189, 0.23);
      }

      #product .container div:first-of-type {
        margin-right: 4%;
      }

  /* section how works */
    .how-up {
      height: 400px;
      background-image: url("../img/HelbizBanner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .how-down {
      padding: 20px 0;
    }

    #how img {
      max-width: 50%;
    }

  /* section links */
  #links {
    height: 100px; /* DEBUG:  */
    background-color: orange; /* DEBUG:  */
    padding: 0 2%;
  }

    #links .container .center.left {
      width: 48%;
    }

/* footer */

  /* footer up */
  #footer-up {
    height: 100px; /* DEBUG:  */
    background-color: pink; /* DEBUG:  */
    background-image: url("../img/Social-Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* footer down */

  .footer-down {
    background-color: black;
  }

    /* info */
    #info {
      height: 100px; /* DEBUG:  */
    }

    /* social */
    #social {
      height: 50px; /* DEBUG:  */
    }

    /* stores */
    #stores {
      height: 50px; /* DEBUG:  */
    }
